<head><title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/page.css">
</head>
<nav role="navigation">
<div>
    <ul class="nav_items">
        <li class="nav_item">
        <a href="http://google.com">Google</a> </li>
        <li class="nav_item"> <a href="http://bbc.com">BBC</a></li>
        <li class="nav_item"> <a href="http://bbc.co.uk/sport">BBC Sport</a></li>
        <li class="nav_item">item4</li>
        <li class="nav_item">item5</li>
        <li class="nav_item">item6</li>
        <li class="nav_item">item7</li>
        <li class="nav_item">item8</li>
        <li class="nav_item">item9</li>
    </ul>
</div>
</nav>
<h1><%= title %></h1>
