<head><title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/page.css">
    <script src="script1.js" async=""></script>
</head>
<h1><%= title %></h1>
<nav role="navigation">
    <div>
        <ul class="nav_items">
            <li class="nav_item">
                <a href="http://google.com">Google</a></li>
            <li class="nav_item"><a href="http://www.bbc.co.uk">BBC</a></li>
            <li class="nav_item"><a href="http://www.bbc.co.uk/sport">BBC Sport</a></li>
            <li class="nav_item">item4</li>
            <li class="nav_item">item5</li>
            <li class="nav_item">item6</li>
            <li class="nav_item">item7</li>
            <li class="nav_item">item8</li>
            <li class="nav_item">item9</li>
        </ul>
    </div>
</nav>

<button class="js-push-button" >
    Enable Push Messages
</button>
<input class="js-text-box" type="text" disabled/>


